@{
    ViewBag.Title = "Apartment Planner";
}

@Styles.Render("~/Content/IndexStyle.css")

<div class="blackout_for_bg">

    <header>
        <div id="logo" class="logo">
            <div class="logo_text">
                Apartment Planner
            </div>
        </div>
        @Html.Partial("PartialChangeLang")
    </header>

    <section class="main_capabilities">
        <div class="black_line"></div>
        <div class="view_capability">
            <img src="~/images/IndexPage/idea.png" alt="Идея" />
            <div class="text_capability">Реализуй свои идеи</div>
        </div>
        <div class="black_line"></div>
        <div class="view_capability">
            <img src="~/images/IndexPage/plan.png" alt="Идея" />
            <div class="text_capability">Закажи проектировку</div>
        </div>
        <div class="black_line"></div>
        <div class="view_capability">
            <img src="~/images/IndexPage/money_income.png" alt="Идея" />
            <div class="text_capability">Стань проектировщиком</div>
        </div>
        <div class="black_line"></div>
    </section>

    <section class="menu">
        <button class="menu_btn">
            <div class="text_btn">Вход</div>
            <div class="icon_btn">
                <img class="icon_btn_sign_in" src="~/images/IndexPage/sign_in.png" alt="Войти" />
            </div>
        </button>
        <button class="menu_btn">
            <div class="text_btn">Регистрация</div>
            <div class="icon_btn">
                <img class="icon_btn_sign_up" src="~/images/IndexPage/sign_up.png" alt="Зарегистрироваться" />
            </div>
        </button>
        <button id="begin_plan" class="menu_btn">
            <div class="text_btn">Начать проектировать</div>
            <div class="icon_btn">
                <img class="icon_btn_begin_plan" src="~/images/IndexPage/begin_plan.png" alt="Начать проектировать" />
            </div>
        </button>
    </section>
</div>

@Scripts.Render("~/Scripts/DeveloperScripts/IndexPage.js")
