<img id="earth" src="~/images/PlannerPage/earth_white.png" alt="Выбор языка" class="change_lang" />
<div class="choose_lang">
    <div class="english_lang">
        <img src="~/images/IndexPage/united-kingdom.png" alt="english" />
    </div>
    <div class="russian_lang">
        <img src="~/images/IndexPage/russia.png" alt="русский" />
    </div>
</div>
